.DS_Store
*.DS_Store
Downloads/.DS_Store
**/venv/
**/__pycache__/
**/.pytest_cache/
**/.env
Downloads/Yaswanth/frontend/node_modules/
Downloads/Yaswanth/frontend/dist/
Downloads/Yaswanth/frontend/.angular/
/backend
